.comments-section {
	min-height: 80vh;
	max-height: 90vh;
	padding: var(--spacing-4);
	background-color: var(--clr-text-50);
	border-radius: var(--rounded);
	filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
  scrollbar-width: none; 
}

.comments-section::-webkit-scrollbar {
  display: none;
}

.comments-section__header__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: var(--spacing-10);
	gap: var(--spacing-4);
}

.comments-section__header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--spacing-3);
}

.comments-section__sort-btns {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-2);
}