.play-btn {
	position: absolute;
	padding: var(--spacing-2-5) var(--spacing-5);
  font-weight: 500;
  font-size: 1rem;
	border-radius: var(--rounded);
}

.play-btn--primary {
	color: var(--clr-text-50);
  background-color: var(--clr-primary-700);
}

.play-btn--primary:hover {
  background-color: var(--clr-primary-800);
}

.play-btn--primary:disabled {
  background-color: lightgray;
}

.play-btn--not-displayed {
	display: inline-flex;
}

.play-btn--not-displayed {
	display: none;
}